<h1>Places#index</h1>
<p>Find me in app/views/places/index.html.erb</p>
<%= user_signed_in?  %>
<%= current_user %>

<p>Filter by</p>
<ul>
  <li id="size"> Size  </li>
  <li id="price"> Price </li>
  <li id="available"> Availability </li>
</ul>

<ul id='list'>
  <% @places.each do |place|  %>
    <li class='listed-place' data-size=<%=place.size%> data-price=<%= place.price %> data-available=<%= policy(place).book? %>> <%= place.description %> | <%= place.price %>€ | <%= place.size %>m2
      <%= link_to "voir", place_path(place) %>
      <% if policy(place).edit? %>
        <%= link_to "Update", edit_place_path(place) %>
      <% end %>
      <% if policy(place).destroy? %>
        <%= link_to "destroy", place_path(place), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if policy(Place).create? %>
  <%= link_to 'Add your place', new_place_path %>
<% end %>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<%= javascript_pack_tag 'sort' %>
