<div class="container-index">
<div class="pasflex">
  <h1>Find the perfect place !</h1>

<%= form_tag places_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a place"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

    <ul class="menu-filters">
      <li class='filter-list filter-title'> Filter by :</li>
      <li class='filter filter-list' id="size"> <span>Size </span></li>
      <li class='filter filter-list' id="price"> Price </li>
      <li class='filter filter-list' id="available"> Availability </li>
    </ul>

  <ul id='list'>
    <% @places.each do |place| %>
      <li class='listed-place' data-size=<%=place.size%> data-price=<%= place.price%> data-available=<%= policy(place).book? %>>
        <%= link_to place_path(place), class: "card-link" do %>

          <div class="card-product">
            <%= cl_image_tag(place.photos.attachments.first.key) if place.photos.attached? %>
              <div class="card-product-infos">
                <h2><%= place.name %></h2>
                <p><%= place.description.first(80) %>(...)</p>

                <div class="card-price">
                  <%= place.price %> €/day
                </div>
                 <div class="card-size">
                  <%= place.size %> m2
                </div>

                <% if policy(place).edit? %>
                  <%= link_to edit_place_path(place) do %>
                    <i class="far fa-edit"></i>
                  <% end %>
                <% end %>

                <% if policy(place).destroy? %>
                  <%= link_to place_path(place),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } do %>
                      <i class="far fa-trash-alt"></i>
                    <% end %>
                <% end %>
              </div>
          </div>
        <% end %>
      </li>
    <% end %>
</div>

  </ul>

  <div id="map"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

</div>

<%= javascript_pack_tag 'sort' %>
