<h1>Places#show</h1>
<p>Find me in app/views/places/show.html.erb</p>
<%= user_signed_in?  %>
<%= current_user %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @place.price %>
</p>

<p>
  <strong>location:</strong>
  <%= @place.location %>
</p>

<p>
  <strong>size:</strong>
  <%= @place.size %>
</p>

<p>
<% @place.photos.each do |photo|%>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
</p>

<ul class="list-group">
  <% @place.reviews.each do |review| %>
    <li class="list-group-item">
      <%= review.comment %>
    </li>
  <% end %>
</ul>

<% if policy(@place).edit? %>
<%= link_to 'Edit', edit_place_path(@place) %> |
<% end %>
<%= link_to 'Back', places_path %> |

<% if policy(@place).post? %>
<%= link_to 'Leave a review', new_place_review_path(@place) %>
<% end %>

<% if policy(@place).book? %>
<%= link_to 'Book now', new_place_booking_path(@place) %>
<% end %>
