<div class="container">
<p id="notice"><%= notice %></p>

<h1><%= @place.name %></h1>
<div class="container2">
    <div class="tile">
      <%= cl_image_tag(@place.photos.attachments.first.key) %>
    </div>
    <div class="tile">
<%= cl_image_tag(@place.photos.attachments[1].key) %>    </div>
    <div class="tile">
      <%= cl_image_tag(@place.photos.attachments.last.key) %>
    </div>

</div>

<div class="booking-desc">
  <div class="info">
    <p>
      <strong>Description:</strong>
      <%= @place.description %>
    </p>

    <p>
      <strong>location:</strong>
      <%= @place.location %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @place.price %> /day
    </p>

    <p>
      <strong>size:</strong>
      <%= @place.size %> m2
    </p>
  </div>

  <div class="booking">
    <% if policy(@place).book? %>
    <%= render 'shared/new_booking'  %>
    <% end %>
  </div>
</div>

<div class="reviews">
  <ul class="list-group">
    <h3>What they say about <%= @place.name %></h3>
    <% @place.reviews.each do |review| %>
      <li class="list-group-item">
        <strong> <%= review.guest.name %>  </strong>:
        <%= review.comment %>
      </li>
    <% end %>
  </ul>
</div>

<div class="actions">
  <ul id="menu">
  <li> <% if policy(@place).edit? %>
    <%= link_to 'Edit', edit_place_path(@place), class: "btn btn-show" %>
  <% end %>
  </li>
  <li>
  <%= link_to 'Back', places_path, class: "btn btn-show" %>
</li>
<li>
  <% if policy(@place).post? %>
     <%= link_to 'Leave a review', new_place_review_path(@place), class: "btn btn-show" %>
  <% end %>
  </li>
  </ul>
  </div>
</div>
